<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {

        <li class="nav-item">
            <span class="navbar-text text-dark d-inline-block pt-2"> Hello, @User.Identity.Name</span>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="LogOut">Logout</a>
        </li>
    }
    else
    {
        
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="LogIn">Login</a>
        </li>
    }
    
        
    
</ul>